<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013864419426-vvn4npasricn0ufmcceu5gugvfarajrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013864419426-vvn4npasricn0ufmcceu5gugvfarajrf</string>
	<key>API_KEY</key>
	<string>AIzaSyDGf4W0mIPAZK5v3eiBhy6pCiXkQS_IKGU</string>
	<key>GCM_SENDER_ID</key>
	<string>1013864419426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.happyapper.buttyBot</string>
	<key>PROJECT_ID</key>
	<string>buttybot-7753d</string>
	<key>STORAGE_BUCKET</key>
	<string>buttybot-7753d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013864419426:ios:9a6864bb1c4947f9</string>
	<key>DATABASE_URL</key>
	<string>https://buttybot-7753d.firebaseio.com</string>
</dict>
</plist>